<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-CA" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.title and site.title and page.title != site.title %}
    <title>{{ page.title | smartify }} | {{ site.title }}</title>
  {% elsif page.title %}
    <title>{{ page.title | smartify }}</title>
  {% elsif site.title %}
    <title>{{ site.title }}</title>
  {% endif %}

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ "/assets/images/icon-192x192.png" | relative_url }}">
    <link rel="apple-touch-icon" href="{{ "/assets/images/icon-192x192.png" | relative_url }}">
  </head>
  <body{% if page.class %} class="{{ page.class }}"{% endif%}>
    {{ content }}
  </body>
</html>
<head>
</head>
